.navbar-default, .chat-container, .chat-container .online-toggle, .sidebar-profile-style, .wowonder-well, .list-group, #send-money-form h5 input, .wo_ads_wallet #replenish-user-account input, .modal-content, .payment_box .btn, .wo_settings_page, .dropdown-menu, .my_pages_header, .cool-style-album .album_parent, .cool-style-album .album_parent:after, .cool-style-album .album_parent:before, .wo-create-forms .wo_settings_page form, .blog-h-list, .read-blog-container .read-blog .read-blog-head, .read-blog, .read-blog .blog-author-info, .read-blog-container .related-post, .blog-com-wrapper, .movies-com-wrapper, .read-blog-container .related-post .blog-sidebar h4.title, .blog-ls-box .view-blog, .wo_game_style a, .wo_my_pages .page_list, .wo_my_products a, .panel, .post .post-description .post-actions .stat-item, #wo_post_stat_button .stat-item, .like-emo > .how_reacted, .events-list-cover, .wo_event_profile .event-info-cont, .wo_page_profile .page-info-cont, .list-group-item, .event_invite_frnd, .event_two_blocks, .threads-table tr td, .thread-replies, #search-nearby-users .nearby-users-gender, #search-nearby-users, #search-nearby-users .nearby-users-gender-collapse, .wo_game_list .list_parent, .pricing, .tab-container, .app_dv_head, .wo_loading_post, .lightbox-content .comment-section, .lightbox-content .comment-section .stats .stat-item, .movies-top-breadcrumb, .movies-search input, .movies-navbar-wrapper, .played-film-image-wrap, .played-film-description-wrapper, .film-player-wrapper, .played-film-details, .related-movies-wrapper, .related-movies-container, .related-movies-wrapper .related-movies-carousel .related-film-wrapper, .wo_pokes_cont, .wo_poke_users, .user-fetch, .wo_market .market_bottom .product .product_info, .search-filter-form input[readonly], .nearby_user_wrapper, .wo_search_page .wo_game_style, .featured-users, .sidebar .sidebar-title-back, input[readonly].bg_read_input, #video-form div.video-poster-image, .feeling-type.feeling-types, .wo_user_profile .user-bottom-nav, .login form, .wo_r_features, .modal .modal-footer, #head_menu_rght .create_head_menu:before, #wo_msg_right_prt .wo_msg_user_dtl, #wo_msg_right_prt .text-sender-container .sendMessages .input-group, #sendMessage, #wo_main_sett_mid .wo_settings_page h3, .login {background: #212121 !important;}
body {background: #131313 !important;color: #dfdfdf;}
.chat-container input, .modal-header {background: #010101 !important;}
.sidebar-profile-style, .list-group, .create-ads-cont .select-admedai-box, .wo-create-forms .wo_settings_page, .panel-white, .wo_event_profile .event-info-cont, .wo_page_profile .page-info-cont, #members table, .f_topics, .thread-replies, .setting-well input[type=text], .setting-well input[type=password], .setting-well select, #search-nearby-users, .colloape-panel-stg, .sidebar-ad-wrapper, .wo-content-shadow, .wo_loading_post, .movies-navbar-wrapper, .played-film-image-wrap, .played-film-description-wrapper, .related-movies-container, .wo_pokes_cont, .featured-users, .greetalert {box-shadow: 0 1px 0 0 #212121, 0 0 0 1px #212121 !important;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: rgba(0, 0, 0, 0.42);}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .form-control, output, .create-ads-cont .select-admedai-box, .create-ads-cont .select-admedai-box button, .create-ads-cont .select-admedai-box input[readonly], .create-ads-cont .create-ads-inner-right button, .dropdown-menu>li>a, .bootstrap-tagsinput, .wo_my_pages .page_title, .setting-well input[type=text], .setting-well input[type=password], .setting-well select, #search-nearby-users .nearby-users-gender, .admin-panel .col-md-9 .list-group-item:first-child, .setting-panel .col-md-8 .list-group-item:first-child, .profile-lists .list-group-item:first-child, .col-md-8 .list-group-item:first-child, .col-md-3.custom .list-group-item:first-child, .col-sm-4 .list-group-item:first-child, .col-md-7 .list-group-item:first-child, .col-md-9 .list-group-item:first-child, .red-list .list-group-item:first-child, .active.list-group-item:first-child, pre, .messages-recipients-list > span, .related-movies-wrapper h4.related-movies, .related-movies-wrapper .related-movies-carousel .related-film-wrapper h4, .wo_page_profile .first_row .title a, .wo_poke_users .poke_info .user-name, .user-fetch .user-name, .user-fetch .user-name a, .wo_market .market_widget .m_widget_head, .wo_market .market_bottom .market_bottom_header, .products .product .product-title a, .nearby_user_wrapper .user_wrapper_link, .wo_search_page .wo_game_style .game-name, .wo_settings_page .setting-panel .avatar-holder strong, .wo_settings_page .setting-panel .avatar-holder strong a, .sidebar-conatnier .sidebar-profile-style .card.hovercard .info .title p, .second-user-color, .sidebar-ad-wrapper .sidebar-ad-footer p.ad-title, .publisher-box .add-emoticons .dropdown-toggle, .publisher-box .publisher-box-footer .poster-left-buttons svg.feather, #video-form div.video-poster-image .thumb-renderer #post_vthumb_droparea, .post-fetched-url .fetched-url-text h4, .wo_post_ad h3, .product-description, .options .poll-option, .login input, .login select, .login textarea, .admin-panel .col-md-9 .list-group-item:first-child a, .setting-panel .col-md-8 .list-group-item:first-child a, .profile-lists .list-group-item:first-child a, .col-md-8 .list-group-item:first-child a, .col-md-7 .list-group-item:first-child a, .active.list-group-item:first-child a, .wo_adv_search_filter_side .wo_settings_page .setting-panel input[type=text].age_number, .user-request-list .user-info a, .modal-title, #wo_msg_right_prt .text-sender-container .incoming .message-model .message p {color: #e5e5e5 !important;}
.publisher-box .add-emoticons .dropdown-toggle svg.feather {fill: #e5e5e5 !important;}
a, .blog-h-list h3, .main-blog-sidebar .popular-articles li .article-title, .wo_settings_page .setting-panel .avatar-holder .chavatlink, .earn_points .ep_illus .ep_how_many b {color: #c6c6c6;}
.btn-default, .slide-film-desc, .wo_search_page .wo_game_style .btn-link {background: #363636;color: #c8c8c8;}
.btn-default:hover, .btn-default:active, .btn-default:focus, .blog-ls-box .art-text h4:hover, .wo_my_pages .page_title:hover, .read-blog-container .related-post .recommended-articles .article-title h4:hover, a:focus, a:hover, .payment_box .btn:hover, .blog-h-list h3:hover, .close:focus, .close:hover, .btn-default.active, .btn-default.focus, .open>.dropdown-toggle.btn-default, .wo_find_friends .find_friends_header h3, .related-movies-wrapper .related-movies-carousel .related-film-wrapper h4:hover, .wo_poke_users .poke_info .user-name:hover, .sidebar-conatnier .sidebar-profile-style .card.hovercard .info .title a, .publisher-box .publisher-box-footer .poster-left-buttons:hover svg.feather, .wo_product_row .product-name .product_row_title {	color: #fff !important;}
.wo_ads_wallet .my_wallet, .form-control, .wo_settings_page .setting-panel input[type=email], .wo_settings_page .setting-panel input[type=password], .wo_settings_page .setting-panel input[type=text], .wo_settings_page .setting-panel select, .modal-footer, .create-ads-cont input, .wo_settings_page .setting-panel textarea, .create-ads-cont .create-ads-inner-right button, .create-ads-cont .create-ads-inner-left, .postFooter, .read-blog .blog-author-info, .create-article-form .bootstrap-tagsinput, .chat-btns-w, #sendMessage, .event_two_blocks li:first-child, .thread-replies, textarea, #search-nearby-users .nearby-users-gender, .table-bordered, pre, .nav-tabs, .wo_sidebar_groups, .wo_settings_page .wo_design_button, .recent, .notifications-dropdown .turn-off-sound, .messages-recipients-list, .movies-top-breadcrumb, .movies-search input, input, .wo_market .market_bottom .market_bottom_header, .wo_market .market_bottom .product .product_info, .wo_search_page_side .wo_settings_page, .earn_points .counter, .wo_user_side_info li, .activity-container .activity, .wo_sidebar_pages, .publisher-box .publisher-box-footer .pub-footer-bottom, .feeling-type.feeling-types, .feeling-type ul, .answers input, .post-fetched-url, .wo_post_ad, .image-file, .wo_product_row, .wo_product_row .product-name, .wo_r_features ul li, select, .admin-panel .col-md-9 .list-group-item:first-child, .setting-panel .col-md-8 .list-group-item:first-child, .profile-lists .list-group-item:first-child, .col-md-8 .list-group-item:first-child, .col-md-3.custom .list-group-item:first-child, .col-sm-4 .list-group-item:first-child, .col-md-7 .list-group-item:first-child, .col-md-9 .list-group-item:first-child, .red-list .list-group-item:first-child, .active.list-group-item:first-child, .order-by {border-color: #363636 !important;}
.payment_box .btn {border-bottom: 1px solid rgba(188, 188, 188, 0.07);color: #c4c4c4;}
.alert, .form-control, .modal-footer, .create-ads-cont .select-admedai-box, .create-ads-cont .select-admedai-box button, .create-ads-cont .select-admedai-box input[readonly], .create-ads-cont .create-ads-inner-right button, .create-article-form .prv-img, .bootstrap-tagsinput, #wo_comment_combo.comment-toggle, #wo_comment_combo .comment_combo_footer, textarea, #cusrange-reader, .pricing .price-table-head, pre, code, .wo_settings_page .wo_design_button, input, .wo_radio_btn input[type=radio]+span, .earn_points .counter, .wo_sidebar_products, #select-status-media, .publisher-box .add-emoticons .dropdown-toggle, #video-form div.video-poster-image .thumb-renderer, .post-fetched-url:hover, select, .wo_adv_search_filter_side .wo_settings_page .setting-panel input[type=text].age_number, .wo_adv_search_filter_side .ui-slider, .key_shortcts th span, ul.profile-completion-bar li.completion-bar div.completion-bar-wrapper {background: #333 !important;}
.alert-info {color: #57acd7;}
.estimated_ad_limit, .earn_points .points_tip, #select-status-media, #video-form div.video-poster-image .thumb-renderer, .wo_votes, .key_shortcts th span, .modal-header {border-color: rgba(255, 255, 255, 0.23);}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .left-sidebar ul li a:hover {background: #333 !important;}
hr, .lightbox-content .comment-section .stats {border-color: #424242 !important;}
.dropdown-menu .divider {background: #424242 !important;}
.my_pages_header, .cool-style-album .album_parent, .blog-h-list, .read-blog, .read-tags, .read-blog-container .related-post, .blog-com-wrapper, .wo_blogcomm_combo img{border-color: #2c2c2c;}
.cool-style-album .album_parent:after, .cool-style-album .album_parent:before {border-color: #000;}
.cool-style-album .album_parent:after {box-shadow: 0 0 2px #000;}
.recent-articles {border-color: #4b4b4b;}
.dropdown-menu:not(.notfi-dropdown):not([role=combobox]) {border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;box-shadow:0 12px 28px 0 rgba(0, 0, 0, 0.20),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(0, 0, 0, 0.2) !important;padding: 8px 0;transform: scale3d(.8,.8,1);transform-origin: right top;display: block;opacity: 0;visibility: hidden;border: 0;}
.dropdown-menu.toleft {transform-origin: left top !important;}
.blog-h-desc p.desc {color: #959595;}
.familly-list-link {background: rgba(0,0,0,0.5)}
.view-more-wrapper .order-by, .view-more-comments span {background: #212121}
.bs-callout-default {border-color: #363636 !important;}
.message-details {color: #999 !important}
.wo_commreply_combo svg {filter: invert(99%) sepia(2%) saturate(1463%) hue-rotate(263deg) brightness(120%) contrast(93%);}
.bs-callout .post-heading .title .main-color {color: #cecece !important;}
#welcomeheader .mdbtn:hover{background-color:rgba(0, 0, 0, 0.2) !important;}
.postFooter .u-floatRight a, .blog-h-list .middot, .read-blog .read-blog-info-user .middot {color: rgba(255, 255, 255, 0.5);}
.main-blog-sidebar .popular-articles li .article-info, .read-blog .read-blog-info-user {color: rgba(255, 255, 255, 0.4);}
#category-page .popular-categories li {background-color: #212121;}
#category-page .popular-categories li a, #search-nearby-users .nearby-users-gender-collapse ul li {color: #c4c4c4;}
.read-blog-container .read-blog h1 {color: rgba(255, 255, 255, 0.8);}
.read-blog-container .read-blog .read-blog-desc {color: #ababab;}
.read-blog .read-blog-info-user, .post .post-footer .comments-list .comment .avatar, .wo_imagecombo_lbox .lightbox-post-footer .comment .avatar {border-color: rgba(255, 255, 255, 0.07);}
.read-blog-container .read-blog .read-content {color: #bababa;}
.read-blog-container .related-post .recommended-articles .article-title h4 {color: #d0d0d0;}
.wo_my_pages .page_info ul li {color: #9d9d9d;}
.input-group-addon {color: #c2c2c2;background-color: #171717;border-color: #171717;}
.wo_create_chat_group .input-group-addon {border-color: #171717;}
.group_chat_mbr_part {border-color: #383838;}
.chat-messages-wrapper {background-color: #212121;border-color: #000000;}
.chat-textarea {border-color: #494949;}
.chat-textarea .chat-btns-w .chat_optns svg.feather {color: #b3b3b3;}
.chat-user-desc {background-color: #2b2b2b;}
.chat-user-desc .head-text {color: #cfcfcf;}
.chat-user-desc .desc-text {color: #aeaeae;}
.message p {color: #cacaca;}
.chat_main {color: #969696;}
.post .post-heading .meta .title span,.post .post-heading .meta .title small,.bs-callout .post-heading  .title span,.bs-callout .post-heading  .title small{color: #cecece !important;}
.post .post-heading .meta .title a, .user-story-container .ads-meta .title b, .user-ad-container div.post-advertisement .ads-meta .title b {color: #cecece;}
.post .post-description p, .user-story-container .ads-headline, .user-ad-container div.post-advertisement .ads-headline p {color: #c0c0c0;}
#wo_post_stat_button .stat-item {color: #b2b2b2;}
#wo_post_stat_button .dropdown.open .stat-item, #wo_post_stat_button .stat-item:hover {background-color: rgba(255, 255, 255, 0.04) !important;}
.reactions-box {background: #424242;}
.post .post-footer, .wo_imagecombo_lbox .comment-section-inner .comment-inner-footer, .wo_imagecombo_lbox .lightbox-post-footer .comments-list {background: #2a2a2a !important;}
#wo_comment_combo, #wo_comment_combo.comment-toggle {border-color: #474747;}
.post .post-file {background: #2a2a2a;}
.event-l-info ul li {color: #a5a5a5;}
.wo_event_profile .card.hovercard .info .title {color: #e5e5e5;}
.event_cdown li span {background: linear-gradient(#494949,#363636);}
.event_cdown li span::before {background: rgba(255, 255, 255, 0.1);}
.list-group-item {color: #b6b6b6;}
iframe, .post-map img {border-color: #4b4b4b;}
.event_two_blocks {border-color: rgba(255, 255, 255, 0.12);}
.event_invite_frnd input {border-color: #595959!important;}
#wo_language_modal {background-color: #212121;}
.close {color: #fff;filter: alpha(opacity=30);opacity: .3;}
.f_topics {color: #cccccc;background: #212121;}
.small, .colloape-panel-stg, .sidebar-ad-wrapper .sidebar-ad-footer p.ad-descrition {color: #a3a3a3;}
.threads-table tr td {box-shadow: 0 1px 0 0 #6e6e6e, 0 0 0 1px #3e3e3e;}
.forum_title {color: #e7e7e7;}
.friends_nearby_status_ul li[data-gender=all].active svg.feather, .friends_nearby_status_ul li[data-nearby-user-status="2"].active svg.feather {fill: #2196F3;background-color: rgba(33, 150, 243, 0.4);}
.wo_game_list_info .page-website {color: #9d9d9d;}
.pricing {box-shadow: 0 1px 2px rgba(255, 255, 255, 0.16);}
.wo_settings_page h3, .wo_terms_page h3, .wo_search_page_side .wo_settings_page h3 {color: #ababab;border-color: #2c2c2c;background-color: #0b0b0b;}
.gray {color: #bcbcbc;}
.search-advanced-container a, .search-advanced-container a svg.feather {color: #9d9d9d !important;}
.search-advanced-container a:hover {color: #e7e7e7 !important;background-color: rgba(255, 255, 255, 0.02);}
.headtoppoint, .user-details.not-profile:before {border-bottom-color: #212121;}
.notification-list .notification-text, .activities-wrapper .notification-list .notification-text {color: #bcbcbc;}
.notification-list span.main-color {color: #e7e7e7 !important;}
.notification-list .notification-time, .notification-list .notification-time svg.feather {color: #a1a1a1;}
.notification-list:hover {background: rgba(0, 0, 0, 0.5);}
.show-message-link-container {background: #0f0f0f;}
.center-text {color: #8a8a8a;}
.wo_loading_post_child, .wo_loading_post_child2 {background-image: radial-gradient(circle 30px at 60px 30px,#363636 99%,transparent 0),linear-gradient(100deg,rgba(255, 255, 255, 0),rgba(33, 33, 33, 0.5) 50%,rgba(255,255,255,0) 80%),linear-gradient(#363636 15px,transparent 0),linear-gradient(#363636 10px,transparent 0),linear-gradient(#363636 10px,transparent 0),linear-gradient(#363636 10px,transparent 0);}
#filterby-post .filter_negative_clr, #filterby-post .filter_negative_clr svg  {color: #dfdfdf;}
.lb-preloader svg {background-color: #000;}
.empty_state {color: #939393;}
.unread {background: #2e2e2e;}
.wo_page_profile .page-info-cont .page_navbar {background: linear-gradient(to right,#212121,#171717) !important;}
.wo_page_profile .first_row .title .page_username { color: #c6c6c6;}
.wo_page_profile .first_row .title .page_info { color: #959595;}
.wo_sidebar_pages .page_middle .title a {color: #e3e3e3!important;}
.wo_poke_users {border-color: rgba(255, 255, 255, 0.07);}
.user-fetch .user-information {color: #ababab;border-color: #454545;}
.wo_market .market_categories ul li a:before, .round-check input+label:before, .wo_adv_search_filter_side .round_check input+label:before {border-color: rgba(255, 255, 255, 0.3);}
.wo_radio_btn input[type=radio]:checked+span {background-color: #4285F4 !important;}
.nearby_user_wrapper, .wo_search_page .wo_game_style {box-shadow: 0 0 0 1px #3c3c3c;}
.left-sidebar ul li a {color: #a3a3a3;}
.left-sidebar ul li a:hover {color: #fff;background: rgba(255, 255, 255, 0.05) !important;}
.sidebar .sidebar-title-back, .featured-users .sidebar-title-back, .featured-users .pro-me-here a {color: #c2c2c2 !important;}
.left-sidebar ul.list-group {box-shadow: none !important;}
.left-sidebar ul.list-group li {background: #131313 !important;}
.dropdown-menu.post-privacy-menu {background-color: #151515 !important;}
.post-privacy-menu li a, .post-privacy-menu li div {color: #9f9f9f;}
.post-privacy-menu li a:hover, .post-privacy-menu li div:hover, .feeling-type.feeling-types li:hover {background-color: #2a2a2a;color: #ffffff;}
.wo_adaptive_media_4 .album-image .image-file, .wo_adaptive_media .album-image:last-child .image-file {border-color: #212121!important;}
.wo_page_profile .page-info-cont .page_navbar .dropdown-menu li .menu-item, .wo_user_profile .options-buttons .dropdown-menu li .menu-item, .wo_page_profile .page-info-cont .page_navbar .dropdown-menu li .menu-item a, .wo_user_profile .options-buttons .dropdown-menu li .menu-item a {color: rgba(223, 223, 223, 0.87);}
.ball-pulse>div {background-color: #cecece;}
.product-navigate a {background-color: rgba(95, 95, 95, 0.98);}
.round-check input+label:after, .wo_adv_search_filter_side .round_check input+label:after {border-color: #212121;}
#night_mode_toggle svg {fill: #e5e5e5;}
#wo_nw_msg_page .msg_under_hood {box-shadow: 0px 10px 15px 0px rgba(15, 15, 15, 0.6);}
#wo_msg_right_prt .message-option-btns .btn:hover {background-color: #3f3f3f !important;}
#wo_msg_right_prt .wo_msg_user_dtl {border-color: rgba(255, 255, 255, 0.4)}
#wo_msg_right_prt .text-sender-container .sendMessages .input-group {border-color: rgba(255, 255, 255, 0.07);}
.greetalert {background: #212121 !important;}
.wo_market .market_bottom .product .product-links .info-middle .more-info:hover {color: #000 !important;}
.sett_tab_noti {border-color: rgba(255, 255, 255, 0.08);}
.sett_tab_noti li.active a {background-color: rgba(255, 255, 255, 0.05);color: white;}
.select_radio_btn .sr_btn_lab_innr {
    background-color: rgb(33, 33, 33);
        box-shadow: rgb(62, 62, 62) 0px 0px 0px 1px;
}
.select_radio_btn .sr_btn_lab_innr > span {
    color: rgb(199, 199, 199);
}
.sun_sett_page .select_radio_btn.setting_down_info_btns .sr_btn_img {
    background-color: rgb(47, 47, 47);
}
.select_radio_btn label > input:checked ~ .sr_btn_lab_innr > span {
    color: #4d91ea;
}
.verfy_sett_email_phone_ico {
    background: #4c4c4c;
    color: #b7b7b7;
}
.share_modal_social_icos > a .social-btn {
    background: #3d3d3d;
}
.share_modal_social_icos, .who_react_to_this_user {
    border-color: #3b3b3b;
}
.select_radio_btn.small_rbtn.share_modal_opts_icos .sr_btn_img {
    background-color: #393939;
}
.who_react_to_this_user .who_react_to_this_user_info a {
    color: #ececec;
}
.bs-callout-default {
    border-color: #414141;
}
.bs-callout .post-heading .title .main-color {
    color: #cfcfcf !important;
}
#wo_nw_msg_page .text-sender-container {
	background: #212121 !important;
}
.text-sender-container .msg_usr_info_top_list {
    border-color: #2b2b2b;
    background: #131313 !important;
}
#wo_msg_right_prt .text-sender-container .sendMessages .input-group {
	background: transparent !important;
}
.text-sender-container .msg_usr_info_top_list .msg_usr_cht_usr_data a, .messages-load-more-messages a {
    color: #e5e5e5;
    background-color: #131313;
}
.messages-load-more-messages {
    background-color: #3f3f3f;
}
#wo_msg_right_prt .msg_write_combo, #wo_msg_right_prt .text-sender-container textarea {
    background: #363636 !important;
    border: none !important;
}
#wo_nw_msg_page .msg_under_hood .mobilerightpane {
    background: #191919;
}
#wo_nw_msg_page .messages-users-list > h1 {
    color: #e0e0e0;
    border-color: #191919;
}
.messages-recipients-list .messages-user-name, .messages-recipients-list .msg_rght_prt > p.new_msg_active_list, .messages-recipients-list .messages-last-sent.new_msg_lst_lsent {
    color: #f4f4f4;
}
#wo_nw_msg_page .messages-recipients-list .online_dot {
    border-color: #4e4e4f;
}
.messages-recipients-list img, .text-sender-container .msg_usr_info_top_list .msg_usr_cht_usr_data img, .message-user-image img {
	border-color: #4b4545;
}
.text-sender-container .sendMessages .input-group .messages-rtime {
    background-color: #474747!important;
}
.text-sender-container .msg_usr_info_top_list {
    color: #cbcbcb;
}
.text-sender-container .message-model .message.wo_msg_prod_prnt .wo_market .market_bottom .product .product-by a, .chat-messages-wrapper .message.wo_msg_prod_prnt .wo_market .market_bottom .product .product-by a {
    color: #a2a2a2;
}
.all_colors {
	background: #212121;
}
.two_check_card .sun_input select option {
	color: #fff;background: #363636;
}
.all_colors_display.selected .all_colors_style, .all_colors_display.selected .all_colors_style_image {
    box-shadow: 0 0 0 2px #212121, 0 0 0 4px #2196F3;
}
.post .wo_shared_doc_file i {
	background-color: #434343;
}


.wo_comthing_usr_innr, .wo_jobs_list {box-shadow: 0 1px 0 0 #212121, 0 0 0 1px #212121 !important;}
.wo_com_lbox_slide_bg {
    background-color: #2d2d2d;
}
.wo_com_lbox_slide_innr .upop_mid .user-name a {
    color: #f6f6f6;
}
.wo_vew_apld_blocks {
    background-color: #3d3d3d;
}
.fundings, .fund_raise, .wo_jobs_list {background: #212121;}
.fundings_desc h3 a {
    color: #fdfdfd;
}
.fundings_desc_meta .postMeta--author-text a {
    color: #d5d5d5;
}
.fundings_desc_meta .postMeta--author-text, .fundings_desc_meta .postMeta--author-text .middot {
    color: #d5d5d5;
}
.fundings_footer {
    background: #292929;
}
.fundings_footer .progress, .fund_raise_bar .progress {
    background-color: #444548;
}
.fundings_footer .btn {
    color: white;
}
.fund_raise .postMeta--author-text a, .fund_raise .postMeta--author-text .middot, .fund div.list .item .caption .middot {
    color: #d8d8d8;
}
.fundMeta--author-text a, .fund div.list .item .caption a {
	color: #fff;
}
.fund_raise_btns .dropdown .btn {
	background-color: #4a4a4a;
}
.wo_main_jobs {
    border-color: #333333;
}
.wo_job_main_widget .m_widget_head {
    color: #f2f2f2;
}
.wo_job_main_widget .wjob_categories ul li a:before {
    border-color: rgba(255, 255, 255, 0.3);
}
.wo_view_post_jobs .jinfo_inner .middot, .wo_jlist_info_main .middot {
    color: #dcdcdc;
}
.wo_jlist_info_head h2 a {
    color: white;
}
.wo_vew_apld_head .jinfo p {
    color: #c3c3c3;
}
.wo_view_post_jobs .wo_vew_apld_msg .btn {background-color: #ff7166 !important;}
.wo_create_job_qstn {
    background-color: #464646;
    border-color: #4e4e4e;
    color: #e2e2e2;
}
.wo_create_job_qstn_block {
    background-color: #080808;
}
.wo_create_job_qstn_block button.close {
    color: #e8e8e8;
background-color: #414141;}
.load-more .btn {
    background: #212121;
}
.blocksubhead-forum-header {
    color: #c9c9c9;
}
.ads-navbar-wrapper, .wow_ads_lists > li, .wow_content, .fake_ad_post, .wow_create_ads_stp {
	background: #212121;
}
.ads-navbar-wrapper ul li a {
    border-color: #212121;
    color: #989898;
}
.ads-navbar-wrapper ul li a.active {
    color: #fff;
}
.wow_pops_head > svg {
	color: #212121;
}
.wow_form_fields input, .wow_form_fields textarea, .wow_form_fields select, .wow_form_fields > .bootstrap-select.btn-group > .dropdown-toggle {
    color: #eaeaea;

}
.wow_fcov_image {
    background: #4e4d4d;
}
.wow_add_money_hid_form form {
    border-color: #3d3d3d;
}
.wo_page_hdng, .fake_ad_post .fads_cover {
    border-color: #3f3f3f;
}
.fake_ad_post .fads_meta .fads_m_info .company {
    color: #e6e6e6;
}
.fake_ad_post .fads_meta .fads_m_info .location {
    color: #949494;
}
.fake_ad_post .fads_headline {
    color: #c5c5c5;
}
.fake_ad_post .fads_cover .fcov_image {
    background: #2f2f2f;
}
.wow_creads_minstp .line {
    background: #464646;
}
.wow_creads_minstp .line .dot {
    background: #4a4a4a;
}
.fake_ad_post .fads_cover .fcov_title {
    color: rgba(255, 255, 255, 0.87);
}
.wow_main_float_head .wow_form_fields input {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black;
}
.wow_blog_cats li a:hover, .wow_blog_cats li.active a {color: #000 !important;}
.wow_main_float_head .wow_form_fields .search_suggs, .wo_page_hdng_search .wow_form_fields .search_suggs, .main-blog-sidebar .widget .wow_form_fields .search_suggs {
    background-color: #212121;
}
.read-blog-container .read-tags .postTag {
	border-color: #fff;
    color: white;
}
.read-blog-container .read-blog .read-blog-desc {
    border-color: #4e4e4e;
}
.main-blog-sidebar .popular-categories li a {
    background-color: rgba(63, 81, 181, 0.4);
    color: #ffffff;
}
.chat-container {
    color: #dedede;
}
.chat-container .online-toggle .chat-status .btn {
    background-color: rgba(255, 255, 255, 0.15);
}
.chat-container .wo_chat_tabs li a:hover {
    background-color: #313131 !important;
}
.chat-container .wo_chat_tabs li.active a {
    background: #464444 !important;
    color: white !important;
}
.recipient-chat-user .chat-user-text {
    color: #e8e8e8;
}
#wo_comment_combo .textarea {}
.recipient-chat-user:hover {background-color: #131313  !important;}
.chat-textarea {
    background-color: #212121;
}
.events-list-name a {
    color: white;
}
.event_cdown li span {
    color: #fff;
}
.event_two_blocks div:first-child, .wow_wallet_trans thead, .wow_wallet_trans tbody tr, .home-sidebar.profile-style.wow_add_groupcht_mmbrs {
    border-color: #434343;
}
.right_user_info li, .right_user_info li a {
    color: #d1d1d1;
}
.wow_event_page_btns .btn {
    color: #ffffff;
    background-color: #544f4f;
}
.chat-messages-wrapper .incoming .message-text, .chat-messages-wrapper .outgoing .message-text {
    color: #f2f2f2;
    background-color: #3b3b3b;
}
.wow_forum_sections table .ftitle, .sun_ftitle {
    color: #f4f4f4;
}
.wow_thread_main_reply .t-left_prt {
    background-color: #2f2f2f;
    border-color: #373737;
}
.wow_thread_main_reply .t-right_prt h5.time, .wow_thread_replies .thread-replies .t-right_prt h5.time {
    border-color: #434343;
}
.wow_thread_replies .thread-replies .t-left_prt .avatar .btn {
    background-color: #333333;
}
.wow_thread_replies .thread-replies .t-right_prt {
    background: #212121;
}
.wow_thread_replies .thread-replies .t-right_prt:before {
    border-right-color: #212121;
}
.friends_nearby_status_ul li, #search-nearby-users .nearby-users-gender-collapse ul li {
    background-color: #484848;
    color: #cdcdcd;
}
.wow_pop_gam_list .game-name, .wo_game_style .game-name {
    color: #ffffff;
}
.wow_price_plan tbody td {
    border-color: #3b3b3b;
    color: #bfbfbf;
}
.wow_price_plan tbody tr td:first-child {
    font-weight: 500;
    color: #dcdcdc;
}
.wow_price_plan tbody tr:hover {
	background-color: #292929;
}
.wow_dev_apps .ap_name a {
    color: rgba(255, 255, 255, 0.8);
}
.wow_form_fields input[readonly] {
    background-color: #333!important;
}
.wow_my_groups_info h3 a {
    color: #d5d5d5;
}
.create_head_menu:before {
    background: #212121;
}
.wow_lightbox_right .comment-inner-footer {
    background-color: #2a2a2a;
}
.wo_imagecombo_lbox .lightbox-post-footer.post-comments {
    border-color: #393939;
}
.oops_empty_state {
    color: #bfbfbf;
}
.wow_prod_imgs .upload-product-image {
    background-color: #3b3b3b;
}
.wow_prod_imgs .upload-product-image svg.feather {
    width: 24px;
    height: 24px;
    color: #b7b7b7;
}
.post .post-footer .comments-list .comment .comment-heading {
  background: #212121 !important;
}
.post .post-footer { border-top: 1px solid #474747; }
.comment-text, .reply-text {
  color: #f2f2f2 !important;
}
.wow_search_head {
    background: #363636;
}
.wow_srch_fields:nth-child(1), .wow_srch_fields:nth-child(2) {
    border-color: #4e4e4e !important;
}
.wow_srch_fields {
    color: #bfbfbf;
}
.wow_srch_tabs li a:hover {
	color: #222 !important;
}
.wow_srch_innr_filtr .round_check label {
    background-color: #3f3f3f;
    color: #ffffff;
}
.wow_sett_sidebar > ul > li > a {
    color: rgba(255, 255, 255, 0.65);
}
.wow_sett_sidebar > ul > li.active > a {
    color: #fff;
}
.wow_sett_sidebar .wow_sett_submenu > ul {
    border-color: #3d3d3d;
}
.wow_main_float_head.show-fnds {
    background: #333;
    border-bottom-color: #414141;
}
.wow_main_float_head.show-fnds > .container {
	color: #fff;
}
.show-fund-info-user .postMeta--author-text a, .show-fund-info-user .postMeta--author-text .middot, .fund div.list .item .caption .middot {
    color: #f8f8f8;
}
.show_fnd_stats {
    color: #c9c9c9;
}
.show_fnd_stats span {
    color: #fff;
}
.wow_side_loggd_usr_hdr .title a {
    color: #e8e8e8;
}
.wo_user_side_info .menu_list {
    color: #cfcfcf;
}
.wow_side_bdays {
    border-top-color: #2d2d2d;
}
.wow_side_bdays > p {
    color: #c9c9c9;
}
.wow_side_bday_usr .user-name a {
    color: #dadada;
}
.wo_pro_users li .user {
	background-color: #313131;
}
#wo_sidebar_users {
    border-color: #3f3f3f;
}
.wow_side_invite {
background-color: #6f6449;}
.sidebar .wow_side_invite .sidebar-title-back {
    color: #ffffff !important;
}
.wow_side_prods, .wo_sidebar_activity > div {
    background-color: #353535;
}
.wow_side_prods .produc_info span {
    color: #e8e8e8;
}
.wow_side_prods .produc_info h4 {
    color: #cfcfcf;
}
.activities-wrapper .notification-list .notification-time {
    color: #aeaeae;
}
.wow_usr_steps_cont {
    border-top-color: #353535;
}
.wow_usr_steps .upload-image {
    background-color: #353535;
    box-shadow: 0 0 0 3px #212121, 0 0 0 6px #353535;
}
.upload-image-content {
    color: #acacac;
}
.wow_pub_privacy_dropdown {
    background-color: #393939;
    color: #d8d9da;
    box-shadow: 0 0 0 1px #525252;
}
.wow_pub_privacy_menu {background-color: #393939;}
.wo_votes {
    background-color: #2a2a2b;
}
.wo_votes:hover {
    background-color: #343435;
}
.options .result-bar {
    opacity: 0.3;
}
.wo_post_fetch_link, .wow_dontd_posts {
    background: #2f2f2f;
}
.wo_post_fetch_event .short_start_dt, .wow_post_blog_ico {
    background-color: #3f3f3f;
}
.wo_post_fetch_event .short_start_dt b {
    color: #fff;
}
.wow_dontd_posts_left h4 a {
    color: #e8e8e8;
}
.wow_dontd_posts_right .btn {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}
.wow_post_prod_shead {
    border-bottom-color: #373737;
    color: #a2a2a2;
}
.wow_post_prod_infos {
    color: #f4f4f4;
}
.wow_side_acts .notification-user-avatar > span {
    background-color: #565656;
}
.wow_pub_privacy_menu li:hover label span {
    background: #434343;
}
.select-user-verification-data .select-user-verification-photos > div {
    background: #292929;
    border-color: #333333;
    color: #757575;
}
.wo_settings_page .avatar-holder::after {background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 792 78.7' style='enable-background:new 0 0 792 78.7;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23212121;%7d %3c/style%3e%3ctitle%3ehero-curve-layer%3c/title%3e%3cpath class='st0' d='M396,72.2C237.1,72.2,95.2,44.1,0.3,0v78.3h791.3V0C696.8,44.1,554.9,72.2,396,72.2z'/%3e%3c/svg%3e");background-size: cover;background-repeat: no-repeat;background-position: center;}
.order_by ul li a {
    color: #c5c5c5 !important;
}
.wow_cset_cover .wow_cset_cover_hdr .btn-file {
    background-color: #353535;
}
.wow_cset_avtr .wow_cset_avtr_hdr .btn-file {
    background-color: #353535;
    border-color: #212121;
}

.lightui1-shimmer div {
    background: #212121;
}
.lightui1-shimmer {
    background: #656871;
    background-image: linear-gradient(to right, #656871 0%, #888b94 20%, #656871 40%, #656871 100%);
}

#add_to_family .family_mbr_name {
    color: #e2e2e2;
}
.wow_memories_friends .panel  {
	border-color: #464646;
}
.wow_memories_cover, .wow_memories_posts .wow_memories_cover {
    background-color: #9b93ff;color: black;
}
.wo_post_fetch_offer {
	background: #363636;
}
.wow_main_offer_list .wo_jlist_info_main {
    background-color: #212121;
}
.wow_main_offer_list .wo_jlist_info_head h2 a {
    color: #eeeeee;
}

.text-sender-container .message-model .message {
    background: #494949;
}

.chat-messages-wrapper .incoming .message-text .wo_reply_msg_bg, .text-sender-container .incoming .message-model .message .wo_reply_msg_bg {
    background: #565656;
}
.message_reply_text, .message_reply_story_text, .chat_reply_text {
    background: #363636;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
}

body .green-audio-player {
    background-color: #2e2e2e;
}
body .green-audio-player .controls {
    color: #c6c6c6;
}
body .green-audio-player .slider {
    background-color: #626262;
}






@media (min-width: 992px){
#wo_msg_right_prt .text-sender-container .incoming .message-model .message {
    background-color: #3d3d3d;
}
#wo_nw_msg_page .messages-recipients-list.active {
    background: #212121;
}
body #wo_nw_msg_page .messages-recipients-list.active .msg_ava_name {
    color: #fff !important;
}
#wo_nw_msg_page .text-sender-container {
    border-color: #272727;
}
#wo_nw_msg_page .msg_under_hood .mobilerightpane::-webkit-scrollbar-thumb, #wo_nw_msg_page .messages-container::-webkit-scrollbar-thumb, #wo_msg_right_prt .text-sender-container textarea::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,.2);}
}

@media (max-width: 767px){
.wo_user_profile .pic-info-cont {background-color: #212121;box-shadow: 0 1px 0 0 #212121, 0 0 0 1px #212121;}
.wo_user_profile .btn-glossy a:not(.btn-main), .wo_user_profile .btn-glossy button:not(.btn-main) {color: #ffffff;background: rgba(255, 255, 255, 0.23);}
.profile-container .card.hovercard .info .title a {color: #f2f2f2;}
.container .wo_user_profile .card.hovercard .info .title svg.feather {fill: #f2f2f2;}
}
.dt_bank_trans_modal .dt_user_profile{background: rgba(0, 0, 0, 0.42);}
.lightbox-content .comment-section .post-info p {color: #ccc !important;}

@media (max-width:665px) {
.event-info-cont-small .info h3 {color: #fff;}
}

.pr_stars .star path { fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="0"] .star path {fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="1"] .star:nth-child(1) ~ .star path {fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="2"] .star:nth-child(2) ~ .star path {fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="3"] .star:nth-child(3) ~ .star path {fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="4"] .star:nth-child(4) ~ .star path {fill: rgb(255 255 255 / 20%);}
.pr_stars[data-stars="5"] .star:nth-child(5) ~ .star path {fill: rgb(255 255 255 / 20%);}

.review_list, .border-bottom, .ch_checkout_title {border-bottom-color: #3e3e3e;}
.prod_review-meta:before {color: rgb(255 255 255 / 20%);}

.ch_qty_toggle .value-button {
    background-color: rgb(255 255 255 / 10%);
}
.cart_chos_addrs label {border-bottom-color: rgba(255, 255, 255, 0.15);}
.cart_chos_addrs label:hover {background-color: rgba(255, 255, 255, 0.05);}
.cart_chos_addrs label:before {border-color: rgba(255, 255, 255, 0.7);}
.cart_chos_addrs label:after {background: #fff;}
.cart_chos_addrs input:checked + label:before {border-color: #fff;}
.cart_chos_addrs input:checked + label {color: #fff;}

.address_book_innr {box-shadow: 0 0 0 1px #3c3c3c;}
.add_new_addrs {background-color: rgb(255 255 255 / 7%);color: #dadada;}
.address_box .addrs_name {color: #fff;}

.my_purchased {box-shadow: 0 0 0 1px rgb(255 255 255 / 14%);}
.my_purchased .foot {border-top-color: #464646;}
.star_rating label {color: #5c5c5c;}

.wo_ad_header_format {
    background-color: #212121;
    border-color: rgb(255 255 255 / 15%);
}

.review_list {
    background-color: #383838;
}

.new_market.wow_main_float_head:after {background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 60"><path fill="%23131313" d="M1920,60H0V0S387,59,960,59,1920,0,1920,0Z"/></svg>') no-repeat center/100% 100%;position: absolute;bottom: 0;left: 0;right: 0;padding-top: 3.125%;}
.wo_market_head_filter > .market_widget .m_widget_head, .wo_job_head_filter > .wo_job_main_widget .m_widget_head {
    border-color: #5a5a5a;
}

.wo_post_prod_full_user {
    border-color: #444444;
}
.wo_post_prod_full_img_slider .is-selected img {
    box-shadow: 0 0 0 2px #efefef;
}
.wo_post_prod_full_related {
    border-color: #4e4e4e;
}

.new_jobs.wow_main_float_head:after {
    background-color: #131313;
}
.create_head_menu li a {
    border-color: #464646;
}
.text-sender-container .outgoing .message-model .message.wo_msg_prod_prnt .wo_market .market_bottom .product .product-title a {
    color: #e5e5e5 !important;
}
.text-sender-container .outgoing .message-model .message.wo_msg_prod_prnt .wo_market .market_bottom .product .product-by a {
    color: #a2a2a2 !important;
}
.wo_page_profile .options-buttons .wo_page_admn_btn.btn-default {
    box-shadow: 0 7px 30px -10px rgb(104 104 104 / 50%) !important;
    background: linear-gradient(#363636, #222222);
}
.login .user-image {
    box-shadow: 0 0 0 2px #212121;
}
.publisher-box .publisher-box-footer .poster-left-buttons .btn > span, .sun_pub_mid_foot .poster-left-buttons .btn, .sun_pub_more_items .btn > span {
    background: rgb(255 255 255 / 10%) !important;
}
.wo_pub_box_foott, .sun_pub_mid_foot {
	border-color: #464646;
}
.publisher-box textarea.postText {
    background: #212121 !important;
}
.sun_pub_name span {
	color: #e5e5e5
}
.sun_pub_mid_foot .poster-left-buttons .btn:hover {
    color: #fff;
}
.sun_pub_privacy_dropdown {
    background-color: #363636;
    border-color: #4c4c4c;
    color: #c7c7c7;
}
.sun_pub_privacy_menu {
    background: #212121;
}
.sun_pub_privacy_menu li:hover label span {
    background: #323232;
}

.yandex_search_user, .yandex_search_product, .yandex_search_job, .yandex_search_publisher {
    background-color: #363636;
    border-color: #3e3e3e;
}
.yandex_search_user p, .yandex_search_product p, .yandex_search_job p, .yandex_search_publisher p {
	border-color: #3e3e3e;
}
.wo_calling_modals .avatar svg {
	border-color: #212121;
}
.wo_affiliate_bottom .wow_form_fields.aff_link {
    background: rgb(255 255 255 / 8%);
}

.developer_get_req.table thead tr th {
    border-bottom-color: #363636 !important;
}
.wo_pro_features .innr_feat {
    border-color: rgb(255 255 255 / 13%);
}

body .insta_post_filter ul {
    background: #212121;
}
body .insta#wo_post_stat_button .stat-item {
    background: rgb(255 255 255 / 10%) !important;
}

body .wo_user_profile.insta .profile-container .card.hovercard .info .title a {
    color: #fff;
}
body .container .wo_user_profile.insta .card.hovercard .info .title svg.feather {
    fill: #2196f3;
}
body .wo_user_profile.insta .btn-glossy > a, .wo_user_profile.insta .btn-glossy > button, .wo_user_profile.insta .btn-glossy > span > button {
    background: rgb(255 255 255 / 39%);
}
body .wo_user_profile.insta .user-bottom-nav li .menuactive:before {
    opacity: 0.2;
}
.chat-textarea .chat-btns-w {
    background: #212121 !important;
}
.chat-textarea textarea#sendMessage {
	background: rgb(255 255 255 / 7%) !important;
}
.wo_settings_page .avatar-holder::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 1440 270' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23fff' d='M0,81L80,103.5C160,126,320,171,480,157.5C640,144,800,72,960,45C1120,18,1280,36,1440,72C1600,108,1760,162,1920,162C2080,162,2240,108,2400,72C2560,36,2720,18,2880,22.5C3040,27,3200,54,3360,67.5C3520,81,3680,81,3840,99C4000,117,4160,153,4320,180C4480,207,4640,225,4800,234C4960,243,5120,243,5280,238.5C5440,234,5600,225,5760,225C5920,225,6080,234,6240,202.5C6400,171,6560,99,6720,85.5C6880,72,7040,117,7200,135C7360,153,7520,144,7680,126C7840,108,8000,81,8160,99C8320,117,8480,180,8640,171C8800,162,8960,81,9120,63C9280,45,9440,90,9600,103.5C9760,117,9920,99,10080,76.5C10240,54,10400,27,10560,54C10720,81,10880,162,11040,162C11200,162,11360,81,11440,40.5L11520,0L11520,270L11440,270C11360,270,11200,270,11040,270C10880,270,10720,270,10560,270C10400,270,10240,270,10080,270C9920,270,9760,270,9600,270C9440,270,9280,270,9120,270C8960,270,8800,270,8640,270C8480,270,8320,270,8160,270C8000,270,7840,270,7680,270C7520,270,7360,270,7200,270C7040,270,6880,270,6720,270C6560,270,6400,270,6240,270C6080,270,5920,270,5760,270C5600,270,5440,270,5280,270C5120,270,4960,270,4800,270C4640,270,4480,270,4320,270C4160,270,4000,270,3840,270C3680,270,3520,270,3360,270C3200,270,3040,270,2880,270C2720,270,2560,270,2400,270C2240,270,2080,270,1920,270C1760,270,1600,270,1440,270C1280,270,1120,270,960,270C800,270,640,270,480,270C320,270,160,270,80,270L0,270Z'%3e%3c/path%3e%3c/svg%3e");
}

.wo_movie_head_filter > .wo_job_main_widget .movies-subheadnav:not(.btn-main):hover {
	background: rgb(255 255 255 / 10%);
}

.page_admin_list {
    border-color: #545454;
}



@media (max-width:480px) {
.pub-focus .sun_pub_mid_foot .poster-left-buttons .btn img {
    background: rgb(255 255 255 / 10%);
}
}
